.RadMenu_MainMenu div.slide
{
    display: none;
}
.RadMenu_MainMenu li
{
    display: block;
    float: left;
}
.RadMenu_MainMenu ul
{
    display: block;
    margin-top: 7px;
    padding: 0;
    margin-left: 0;    
    background-color: #ffffff;
	color:#FFF;
}

.text1
{
	color:#FFF;
}

.text1 a
{
	color:#FFF;
}

.text2
{
	color:#FFF;
}

.text2 a
{
	color:#FFF;
}

/* End make it appear right without JS*/
.RadMenu_MainMenu ul ul
{
	border: 1px solid #D9E0E3;	
}
.RadMenu_MainMenu ul ul span
{
	font-size: 15px;/*$Script#(Default)*/
}

.RadMenu_MainMenu ul ul span
{
	font-size: 15px;/*$Script#(Default)*/
}

.RadMenu_MainMenu a, .RadMenu_MainMenu a:link, .RadMenu_MainMenu a:visited
{
    padding: 6px 0px 7px 0px;/*$Script#(Default)*/
    text-align: left;
    margin-right: 25px;      
    text-decoration: none;
    font-size: 18px;/*$Script#(Default)*/
    color: #8A8A8A;     
}
.RadMenu_MainMenu .slide a, .RadMenu_MainMenu .slide a:link, .RadMenu_MainMenu .slide a:visited
{
    width: auto;
    text-align: left;
    margin-right: 0;
}
.RadMenu_MainMenu .first a.current, .RadMenu_MainMenu .first a.current:link, .RadMenu_MainMenu .first a.current:visited
{
   
}
.RadMenu_MainMenu a.current, .RadMenu_MainMenu a.current:link, .RadMenu_MainMenu a.current:visited
{   
    color: #141414;
}
.RadMenu_MainMenu a:active, .RadMenu_MainMenu a:hover, .RadMenu_MainMenu a.expanded, 
.RadMenu_MainMenu a.current:active, .RadMenu_MainMenu a.current:hover, .RadMenu_MainMenu li.item a.expanded
{   
    color: #FFF;
    cursor: pointer;
	
}
.RadMenu_MainMenu .first a:active, .RadMenu_MainMenu .first a:hover, .RadMenu_MainMenu .first a.expanded, .RadMenu_MainMenu .first a.current:active, .RadMenu_MainMenu .first a.current:hover, .RadMenu_MainMenu .first a.expanded, .RadMenu_MainMenu .first a.expanded:link, .RadMenu_MainMenu .first a.expanded:visited
{  
    cursor: pointer;
}
.RadMenu_MainMenu li
{
    padding: 0 1px 0 0 ;  
    margin-bottom: 0;
}
.RadMenu_MainMenu li.last
{
    background-image: none;
}
.RadMenu_MainMenu li li
{
    background-image: none;
}
.RadMenu_MainMenu li li a:active, .RadMenu_MainMenu li li a:hover, .RadMenu_MainMenu li li a.expanded
{
    background-image: none;
}
.RadMenu_MainMenu li li.first a:active, .RadMenu_MainMenu li li.first a:hover, .RadMenu_MainMenu li li.first a.expanded
{
    
}
.RadMenu_MainMenu .first li a:active, .RadMenu_MainMenu .first li a:hover, .RadMenu_MainMenu .first li a.current:active, .RadMenu_MainMenu .first li a.current:hover
{
   
}
.RadMenu_MainMenu li .group li a, .RadMenu_MainMenu li .group li a:link, .RadMenu_MainMenu li .group li a:visited
{
    font-weight: normal;
    
    padding: 0;
    cursor: pointer;
}
.RadMenu_MainMenu li .group li.last a, .RadMenu_MainMenu li .group li.last a:link, .RadMenu_MainMenu li .group li.last a:visited
{
    
}
.RadMenu_MainMenu li .group li a span, .RadMenu_MainMenu li .group li a:link span, .RadMenu_MainMenu li .group li a:visited span
{
    padding: 7px 15px 2px 15px;    
font-family: "Segoe UI", Arial, Helvetica, Sans-Serif;
}
.RadMenu_MainMenu li .group li.first a span, .RadMenu_MainMenu li .group li.first a:link span, .RadMenu_MainMenu li .group li.first a:visited span
{
    padding: 11px 15px 2px 15px;
}
.RadMenu_MainMenu li .group li.last a span, .RadMenu_MainMenu li .group li.last a:link span, .RadMenu_MainMenu li .group li.last a:visited span
{
    padding: 7px 15px 13px 15px;
    
}
.RadMenu_MainMenu li .group li a:hover
{
    color: #141414;
}
.RadMenu_MainMenu div.slide
{
    margin: 0 0 0 -2px;
}

.1111 {
	position: fixed; z-index: 100; top: 0; left: 0; background: #fff;
}

.radmenu
{
	white-space:nowrap;
	float:left;
	position:relative;
}


.radmenu:after 
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.radmenu ul.horizontal,
.radmenu ul.vertical
{
	margin:0;
	padding:0;
	display:none;
	position:relative;
	left:0;
	float:left;
}

.radmenu .item
{
	float:left;
	position:relative;
	list-style-image: none;
	list-style-position:outside;
	list-style:none;	
	_display:inline;
}


.radmenu .horizontal .item
{
	clear:none;
}

.radmenu .vertical .item
{
	clear:both;
}


.radmenu ul.active,
.radmenu ul.rootGroup
{
	display:block;
}

.radmenu .slide, 
.contextMenu
{
	position:absolute;
	overflow:hidden;
	display:none;
	_height:1px;
	float:left;
}

.contextMenu
{
	z-index:1000;
}

.radmenu .text
{
	display:block;
}

.radmenu a.link
{
	cursor:default;
	display:block;	
}


.scrollWrap
{
	position:absolute;
	float:left;
	overflow:hidden;
	left:0;
}

.radmenu .leftArrow,
.radmenu .topArrow,
.radmenu .bottomArrow,
.radmenu .rightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
}

.radmenu .leftArrowDisabled,
.radmenu .topArrowDisabled,
.radmenu .bottomArrowDisabled,
.radmenu .rightArrowDisabled
{
	display:none;
	text-indent:-1000em;
}

.radmenu .bottomArrow,
.radmenu .bottomArrowDisabled
{
	margin-bottom: -1px;
}

.radmenu .leftImage
{
	border:0;
	float:left;
}

.rtl
{
	float:right;
}

.rtl ul.horizontal,
.rtl ul.vertical
{
	float:right;
}

.rtl .item
{
	float:right;	
}

.rtl .leftImage,
.rtlcontext .leftImage
{
	border:0;
	float:right;
}

.radmenu ul.rootGroup
{
	float:none;
	_float:left;
}

.radmenu .link
{
	width:auto;
}