<!DOCTYPE HTML SYSTEM "about:legacy-compat">
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="IE=8" http-equiv="X-UA-Compatible"/>
    <link href="/rool/resources/dijit/themes/tundra/tundra.css" type="text/css" rel="stylesheet"></link>
    <link href="/rool/resources/styles/standard.css" media="screen" type="text/css" rel="stylesheet"></link>
    <link href="/rool/resources/images/favicon.ico" rel="SHORTCUT ICON"/>
    <script type="text/javascript">var djConfig = {parseOnLoad: false, isDebug: false, locale: 'zh-cn'};</script>
    <script type="text/javascript" src="/rool/resources/dojo/dojo.js"></script>
    <script type="text/javascript" src="/rool/resources/spring/Spring.js"></script>
    <script type="text/javascript" src="/rool/resources/spring/Spring-Dojo.js"></script>
    <script type="text/javascript" language="JavaScript">dojo.require("dojo.parser");</script>
    <link type="text/css" rel="stylesheet" href="/rool/resources/styles/gts-common.css"/>
    <title>欢迎访问ROO应用框架</title></head>
<body class="tundra spring">
<div id="gtswrapper">
    <div version="2.0" id="header"><h1 id="logo"><a title="首页" name="首页" href="/rool/"><img
            src="/rool/resources/images/logo.png"/></a></h1></div>
    <div version="2.0" id="top-bar">
        <ul id="breadcrumbs">
            <li class="user"><a href="https://gitorious.org/~neoxen">Neo Chen</a></li>
        </ul>
        <div id="searchbox">
            <div class="search_bar">
                <form method="get" action="https://gitorious.org/search"><p><input type="text" name="q" id="q"
                                                                                   class="text search-field round-5"/><input
                        class="search-submit round-5" value="Search" type="submit"/></p>

                    <p style="display: none;" class="hint search-hint">
                        eg. 'wrapper', 'category:python' or '"document database"'
                    </p></form>
            </div>
        </div>
    </div>
    <div version="2.0">
        <script type="text/javascript">dojo.require('dijit.TitlePane');</script>
        <div id="_title_title_id">
            <script type="text/javascript">Spring.addDecoration(new Spring.ElementDecoration({elementId : '_title_title_id', widgetType : 'dijit.TitlePane', widgetAttrs : {title: '欢迎访问ROO应用框架', open: true}})); </script>
            <h3>欢迎访问ROO应用框架</h3>

            <p>Spring Roo 提供互动、轻量级、可定制化的工具来快速开发高效率的企业应用。</p></div>
    </div>
    <div version="2.0" id="footer"><p class="footer-blurb"><span><a href="/rool/">首页</a></span><span> | 主题: <a
            title="标准" href="?theme=standard">标准</a> | <a title="特殊" href="?theme=alt">特殊</a></span></p>

        <div class="clear"/>
    </div>
</div>
</body>
</html>